 <div class="callout">
      <div class="blog-post">
        <h3>{{title}}</small></h3>
        <p>{{content}}</p>
       
          <ul class="menu simple">
            <li>Posted By: {{user.username}} on {{created_at}}</li>
            <!--<li>Comments: {{post.comment_count}}</li>-->
          </ul>
        </div>
      </div> 